<h1>Stupid Coaching</h1>
<div id="question-wrapper">
<p><%= @question %></p>
<p> - <i>You</i> </p>

<p><%= @answer %></p>
<p> - <i>Your Coach</i> </p>
</div>
<p><%= link_to "Do you wanna ask another question?", ask_path %></p>
